# Python/Django
__pycache__/
*.py[cod]
env/
venv/
*.sqlite3
/media/
.env
.env.prod
# Production data folders (MySQL and media files)
/data/
# Node
node_modules/
build/
frontend/node_modules/
# IDEs
.vscode/
.idea/
.DS_Store
